@import "./variables";

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
}

ul, li, a {
    margin: 0;
    padding: 0;
}

li {
    list-style: none; 
}

// Default anchor link styles //

a {
    &.solid {
        color: $solidWhite;
        background-color: $tertiary;
        padding: 5px 30px;
        font-family: $headingFont;
        letter-spacing: 2px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: $quaternary;
            color: $primary;
        }
        &:focus {
            background-color: $quaternary;
            color: $primary;
        }
    }

    // styles for smallLink //

    &.smallLink {
        color: $quaternary;
        font-size: 1.95rem;
        line-height: 1.5rem;
        letter-spacing: 0.11rem;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
            color: $solidWhite;
        }
        &:focus {
            opacity: 0.6;
            color: $solidWhite;
        }
    }
}

// Default styles for buttons //

button {
    color: $solidWhite;
    background-color: $tertiary;
    padding: 5px 30px;
    font-family: $headingFont;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    width: 60%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
            background-color: $quaternary;
            color: $primary;
        }  
    &:focus {
            background-color: $quaternary;
            color: $primary;
        }
}



