// **** HEADER HOME PAGE!!! **** //

.heroHeader {
    background-image: url("../assets/home-image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .headerContent {
            z-index: 20;
        }
        h2 {
         margin-top: -30px;
         margin-bottom: 30px;
        }
    }

    .imgHeaderBox {
        width: 50%;
        margin-top: -10px;
        // position: relative;
        // bottom: 390px;
        position: absolute;
        right: 0px;
        bottom: -70px;
        z-index: 10;
    }
}

// **** OUR BLOG HEADER PAGE **** //

.blogHeader {
    background-image: url("../assets/blog-header-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    position: relative;
    .wrapper {
        h2 {
            margin: 150px 0;
            padding-left: 50px;
        }
   }
}

// **** OUR CONTACT HEADER PAGE !!! **** //

.contactHeader {
    background-image: url("../assets/contact-header-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    height: 70vh;
    position: relative;
    .wrapper {
        h2 {
                margin: 150px 0;
                padding-left: 50px;
        }
    }
}
