.navBar {
    padding-top: 20px;
    ul {
        display: flex;
        justify-content: center;
        li {
            margin: 40px 20px 0 20px;
            a {
                color: $solidWhite;
                &:hover {
                        color: $quaternary;
                    }
                
                    &:focus {
                        color: $quaternary;
                    }
            }
        }
        
    }

}