// **** ABOUT SECTION **** //

.about {
    background-color: $primary;
    color: $solidWhite;
    position: relative;
    padding-top: 150px;
    padding-bottom: 110px;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        .textContainer {
            // width: 50%;
            
            margin-bottom: 70px;
            width: calc(100% / 2 - 20px);
            margin-right: 10px;
            .icons {
                display: inline-block;
                position: relative;
                top: -7px;
                color: $solidWhite;
                background-color: $tertiary;
                padding: 15px 10px 10px 10px;
                border-radius: 50%;
            }
            h3 {
                display: inline-block;  
                padding-left: 10px; 
            }
            p {
                margin-left: 62px;
            
            }
        }
       }
    }

// **** PLAN AHEAD & LOCATIONS SECTION **** //

.planAhead {
    background-color: $secondary;
    .planContainer {
    display: flex;
    flex-wrap: wrap;
    // .planTextContainer {
    //     padding-left: 100px;
    // }
    .image1 {
        padding-right: 90px;
        position: relative;
        bottom: 65px;
        z-index: 10;
    }
    .image2 {
        padding-left: 90px;
        position: relative;
        bottom: -65px;
        z-index: 10;
    }
    .image1,
    .image2,
    .planTextContainer {
        width: 50%;
        color: $solidWhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;  
     h3,
     p {
        // margin-left: 30px;
        margin-bottom: 35px;
        width: 90%;
     }
     .solid {
        // margin-left: 30px;
        width: 28%;
     }
        }     
    }
}
.rightAligned {
    padding-left: 90px;
    padding-right: 10px;
}
.leftAligned {
    text-align: right;
    align-items: flex-end;
    padding-right: 90px;
    p {
        text-align: left;
        padding-left: 50px;
    }
}

.image1 img {
    box-shadow: 12px 12px $quaternary;
}

.image2 img {
    box-shadow: -12px 12px $quaternary;
}

// **** HOST A PARTY SECTION **** //

.hostParty {
    background-color: $primary;
    padding: 130px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            color: $quaternary;
            margin-bottom: 30px;
        }
        p {
            color: $solidWhite;
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

//**** BANNER BEER IMAGE SECTION ****//

.bannerImage
    {
    background-image: url("../assets/banner-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
 }

// **** EVENTS SECTION **** //

.events {
    background-color: $primary;
    padding: 100px 0;
    .wrapper {
        display: flex;
        .boxImage {
            flex: 1 0 35%;
            img {
                box-shadow: -12px 12px $quaternary;
            }
        }  
        .eventsTextContainer {
            margin-top: -10px;
            h3 {
                color: $quaternary;
                margin-bottom: 20px;
            }
            p {
                color: $solidWhite;
                margin-bottom: 30px;
            }
        } 
    }
}

// **** BLOG SECTIONS IN BLOG PAGE !!! ****//  

.blogContainer {
    background-color: $primary;
    display: flex;
    position: relative;
    .blogSideBar {
        margin-top: 100px;
        background-color: $secondary;
        height: 850px;
        margin-right: 60px;
        margin-left: 60px;
        flex: 1 0 30%;
        color: $solidWhite; 
        position: relative; 
        .blogList {
            margin-left: 35px;
            h3 {
                margin-top: 10px;
                width: 70%;
            }
            p {
                width: 70%;
            }
        }
        .sideBarImage {
            position: relative;
            bottom: 30px;
            right: 60px;
        }
    }
}

// Bullet points for Recent Posts in blog page//
.recentPosts ul {
    color: $solidWhite;
li {
    list-style: disc;
    // Removes the default bullets //
    // .recentPosts li::before {
            // content: "\2022"; // \2022 is the unicode for a bullet //
            color: red; // change the color//
            // font-weight: bolder; // to make the bullet points bold//
            // display: inline-block;
            // width: 1em;
            // margin-left: -1em;
        // }
}
}


.blogPost {
    position: relative;
    bottom: 90px;
    z-index: 20;
    margin-left: 45px;
    .blogImage img {
            box-shadow: -12px 12px $quaternary;
    
        }
}

.blogTextContainer {
    border-bottom: solid 6px $quaternary;
    border-left: solid 6px $quaternary;
    padding: 45px 80px;
    margin-top: 10px;
    margin-left: -12px;
    width: 95%;
    h3 {
     color: $solidWhite;
    }
    h4 {
        color: $quaternary;
        margin-bottom: 25px;
    }
    p {
        color: $solidWhite;
    }
}

