// ** site fonts ** //
$headingFont: 'Tulpen One', cursive;
$bodyFont: 'Chathura', sans-serif;

// ** site colors ** // 
$primary: #111010;
$secondary: #220303;
$tertiary: #BF2603;
$quaternary: #FF8327;
$solidWhite: #FFFFFF;




